.table-movies {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #eee;
  list-style-type: none;

  &__item {
    padding: 10px 0;

    .item-td {
      &__img {
        width: 20px;
        height: 20px;
        background-color: maroon;
      }
    }
  }
}
