.add-movie {
  &__form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    label {
      font-size: 16px;
      color: #000;
    }

    input {
      margin-bottom: 10px;
      font-size: 14px;
      padding: 5px;
    }

    input[type='submit'] {
      border-radius: 5px;
      background-color: #06982b;
      color: #fff;
      width: contain;
      width: fit-content;
    }

    textarea {
      height: 100px;
      border: groove;
      padding: 5px;
    }
  }
}
